{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
  {{title}}
{% endblock title %}



{% block title-side %}{% endblock title-side %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
          {% for field in form %}
          <div class="form-group">
            {{ field.label_tag}}
            {{ field | add_class:"form-control" |add_error_class:"is-invalid"}}
            {{field.help_text}}
            {{field.errors}}
          </div>
          {% endfor %}
        </div>

        <span id = "error"></span>
        <input type="submit" value="Save" class="w-25 btn btn-primary">

      </form>
    </div>
  </div>

  <script src="{% static '/js/script_term.js' %}" type="text/javascript"></script>

{% endblock content %}


